[submodule "pytorch-segmentation-detection"]
	path = external/pytorch-segmentation-detection
	url = https://github.com/warmspringwinds/pytorch-segmentation-detection.git

[submodule "external/unet-pytorch"]
	path = external/unet-pytorch
	url = https://github.com/RobotLocomotion/unet-pytorch.git

[submodule "maskrcnn-benchmark"]
	path = external/maskrcnn-benchmark
	url = git@github.com:facebookresearch/maskrcnn-benchmark.git

